body {
  --surgen-color: rgba(255, 255, 255, 0.1);
  --surgen-text-color: rgb(255, 255, 255);
  --surgen-color-hover: rgba(255, 255, 255, 0.2);
  --surgen-color-diabled: rgb(10, 10, 10);
  --surgen-text-color-disabled: rgb(100, 100, 100);
  --surgen-color-darken: rgba(0, 0, 0, 0.3);

  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;

  button {
    height: 100%;
    width: 100%;
    background-color: var(--surgen-color);
    color: var(--surgen-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--surgen-color-hover);
  }

  button:disabled {
    background-color: var(--surgen-color-diabled);
    color: var(--surgen-text-color-disabled);
    cursor: not-allowed;
  }

  #root {
    height: 100%;
  }
}
