.preview {
  height: 76%;
  margin: 3%;
  padding: 3%;
  border: var(--dulle-color) 2px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  cursor: default;

  .game-name {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;

    .game-name-text {
      font-size: 150px;
      color: #fde6d2;
      display: flex;
      column-gap: 50px;

      .game-name-text-first-word {
        display: flex;

        .game-name-text-first-word-letter0 {
          animation: textUpDownFirstWordLetter0 4s infinite ease-in-out;
        }

        .game-name-text-first-word-letter1 {
          animation: textUpDownFirstWordLetter1 4s infinite ease-in-out;
        }

        .game-name-text-first-word-letter2 {
          animation: textUpDownFirstWordLetter2 4s infinite ease-in-out;
        }

        .game-name-text-first-word-letter3 {
          animation: textUpDownFirstWordLetter3 4s infinite ease-in-out;
        }

        .game-name-text-first-word-letter4 {
          animation: textUpDownFirstWordLetter4 4s infinite ease-in-out;
        }

        .game-name-text-first-word-letter5 {
          animation: textUpDownFirstWordLetter5 4s infinite ease-in-out;
        }
      }

      .game-name-text-second-word {
        display: flex;

        .game-name-text-second-word-letter0 {
          animation: textUpDownSecondWordLetter0 4s infinite ease-in-out;
        }

        .game-name-text-second-word-letter1 {
          animation: textUpDownSecondWordLetter1 4s infinite ease-in-out;
        }

        .game-name-text-second-word-letter2 {
          animation: textUpDownSecondWordLetter2 4s infinite ease-in-out;
        }

        .game-name-text-second-word-letter3 {
          animation: textUpDownSecondWordLetter3 4s infinite ease-in-out;
        }
      }
    }

    .game-name-icon {
      animation: iconGrowRotate 4s infinite ease-in-out;
    }
  }

  .host-presents {
    font-size: 32px;
    text-align: center;
    justify-content: center;
    animation: textGrowShrink 4s infinite ease-in-out;
  }

  .host-name {
    font-size: 64px;
    text-align: center;
    justify-content: center;
    animation: nameGrowShrink 4s infinite ease-in-out;
  }
}

@keyframes textUpDownFirstWordLetter0 {
  0%,
  30% {
    transform: translateY(0);
  }
  13%,
  17% {
    transform: translateY(-200px);
  }
}

@keyframes textUpDownFirstWordLetter1 {
  1%,
  31% {
    transform: translateY(0);
  }
  14%,
  18% {
    transform: translateY(-200px);
  }
}

@keyframes textUpDownFirstWordLetter2 {
  2%,
  32% {
    transform: translateY(0);
  }
  15%,
  19% {
    transform: translateY(-200px);
  }
}

@keyframes textUpDownFirstWordLetter3 {
  3%,
  33% {
    transform: translateY(0);
  }
  16%,
  20% {
    transform: translateY(-200px);
  }
}

@keyframes textUpDownFirstWordLetter4 {
  4%,
  34% {
    transform: translateY(0);
  }
  17%,
  21% {
    transform: translateY(-200px);
  }
}

@keyframes textUpDownFirstWordLetter5 {
  5%,
  35% {
    transform: translateY(0);
  }
  18%,
  22% {
    transform: translateY(-200px);
  }
}

@keyframes textUpDownSecondWordLetter0 {
  6%,
  36% {
    transform: translateY(0);
  }
  19%,
  23% {
    transform: translateY(-200px);
  }
}

@keyframes textUpDownSecondWordLetter1 {
  7%,
  37% {
    transform: translateY(0);
  }
  20%,
  24% {
    transform: translateY(-200px);
  }
}

@keyframes textUpDownSecondWordLetter2 {
  8%,
  38% {
    transform: translateY(0);
  }
  21%,
  25% {
    transform: translateY(-200px);
  }
}

@keyframes textUpDownSecondWordLetter3 {
  9%,
  39% {
    transform: translateY(0);
  }
  22%,
  26% {
    transform: translateY(-200px);
  }
}

@keyframes iconGrowRotate {
  30%,
  50% {
    transform: scale(1) rotate(0deg);
  }
  40% {
    transform: scale(1.3) rotate(20deg);
  }
}

@keyframes textGrowShrink {
  50%,
  80% {
    transform: scale(1);
  }
  65% {
    transform: scale(1.2);
  }
}

@keyframes nameGrowShrink {
  70%,
  100% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.3);
  }
}
