.finals {
  height: 88%;
  padding: 3%;
  margin: 0;

  .finals-elements {
    height: 88%;
    padding: 3%;
    border: var(--dulle-color) 2px solid;
    display: grid;
    grid-template-columns: 4fr repeat(2, 1fr);
    grid-template-rows: 3fr 3fr 8fr;
    grid-template-areas:
      "shots-total  shots-total points"
      "shots-person shots-rest  shots-rest"
      "answers      answers     answers";
    grid-gap: 20px;

    .finals-element {
      border-radius: 20px;
      background-color: var(--dulle-color);
      width: 100%;
      height: 100%;
      align-content: center;
      overflow: hidden;
    }

    .shots-total {
      grid-area: shots-total;
    }

    .points {
      grid-area: points;
    }

    .shots-person {
      grid-area: shots-person;
    }

    .shots-rest {
      grid-area: shots-rest;
    }

    .answers {
      grid-area: answers;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      box-sizing: border-box;
      padding: 20px;
      grid-gap: 15px;
    }
  }
}
