.question-jump {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}

.question-jump input {
  background-color: black;
  border: 1px white solid;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  cursor: text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.question-jump input:focus {
  outline: none;
}
