.finals {
  --dulle-color: rgba(255, 255, 255, 0.1);
  height: 88%;
  padding: 3%;
  margin: 0;
}

.finals-elements {
  height: 88%;
  padding: 3%;
  border: var(--dulle-color) 2px solid;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 3fr 3fr 8fr;
  grid-template-areas:
    "finals-shots-total  finals-points"
    "finals-shots-person finals-shots-rest"
    "finals-answers      finals-answers";
  grid-gap: 20px;
}

.finals-element {
  border-radius: 20px;
  background-color: var(--dulle-color);
  width: 100%;
  height: 100%;
  align-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

.finals-shots-total {
  grid-area: finals-shots-total;
}

.finals-points {
  grid-area: finals-points;
}

.finals-shots-person {
  grid-area: finals-shots-person;
}

.finals-shots-rest {
  grid-area: finals-shots-rest;
}

.finals-answers {
  grid-area: finals-answers;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 20px;
  grid-gap: 15px;
}
