.host-game {
  height: 88%;
  padding: 3%;
  display: grid;
  grid-template-rows: repeat(3, 1fr) 5fr 1fr 2fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "set-team-color     set-team-color     go-to-finals       go-to-finals"
    "points-right-team  points-now         points-left-team   question-navigator"
    "show-answer-number show-question      show-question      show-question"
    "answers            answers            answers            answers"
    "show-wrongs        show-wrongs        show-wrongs        show-wrongs"
    "answers-one-person answers-one-person answers-one-person answers-one-person";
  grid-gap: 20px;

  .blinking {
    border-radius: 20px;
    animation: blinking 1s infinite;
  }

  .set-team-color {
    grid-area: set-team-color;
  }

  .go-to-finals {
    grid-area: go-to-finals;
  }

  .points-right-team {
    grid-area: points-right-team;
    border-radius: 20px;
  }

  .points-now {
    grid-area: points-now;
  }

  .points-left-team {
    grid-area: points-left-team;
    border-radius: 20px;
  }

  .question-navigator {
    grid-area: question-navigator;
    display: flex;
    align-items: center;
    column-gap: 5px;

    .previous-question-navigator {
      flex: 0;
      align-self: stretch;
    }

    .next-question-picker {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .next-question-navigator {
      flex: 0;
      align-self: stretch;
    }
  }

  .show-answer-number {
    grid-area: show-answer-number;

    button {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 20%;
    }
  }

  .show-question {
    grid-area: show-question;

    button {
      text-align: center;
    }
  }

  .answers {
    grid-area: answers;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-gap: 15px;

    button {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 5fr 1fr;
    }
  }

  .show-wrongs {
    grid-area: show-wrongs;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2%;
    }
  }

  .answers-one-person {
    grid-area: answers-one-person;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    > * {
      padding: 5px;
      border: 2px rgba(255, 255, 255, 0.2) solid;
    }
  }
}

@keyframes blinking {
  0%,
  100% {
  }
  50% {
    background-color: var(--surgen-color);
  }
}
