.wrong {
  --wrong-color: red;
  font-size: 256px;
  text-align: center;
  justify-content: center;
  line-height: 300px;
  padding-left: 50px;
  padding-right: 50px;
  color: var(--wrong-color);
  border: 10px var(--wrong-color) solid;
}
