:root {
  --text-color: #b7c0ee;
  --div-background-color: #013dc4;
  --div-background-color-gradient: #002781;
  --background-color: #151314;

  --text-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  text-shadow: 2px 2px 10px black;
  background-color: var(--background-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  text-align: center;
}

div {
  color: var(--text-color);
  font-family: var(--text-font);
}

/*Main*/
div.answerCard {
  background-image: linear-gradient(
    var(--div-background-color),
    var(--div-background-color-gradient)
  );
  border: 5px solid;
  font-size: 40px;
  font-weight: bold;
  height: 45px;
  padding: 10px;
}

div.answerCardGrid {
  border: 5px solid;
  background-color: var(--text-color);
  column-gap: 5px;
  display: grid;
  grid-template-columns: 1fr 75px;
  height: 65px;
}

div.answerCardGridElement {
  background-image: linear-gradient(
    var(--div-background-color),
    var(--div-background-color-gradient)
  );
  font-size: 40px;
  font-weight: bold;
  height: 45px;
  padding: 10px;
}

div.answerGrid {
  align-items: center;
  background-color: var(--div-background-color);
  border: 7px solid;
  border-radius: 15px;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  padding: 15px;
}

div.pointsCard {
  background-image: linear-gradient(
    var(--div-background-color),
    var(--div-background-color-gradient)
  );
  border: 5px solid;
  font-size: 65px;
}

div.pointsGrid {
  display: grid;
  font-weight: bold;
  gap: 10%;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 140px;
  margin-left: 17%;
  margin-right: 17%;
  margin-top: 70px;
}

div.pointsTextCard {
  background-image: linear-gradient(
    var(--div-background-color),
    var(--div-background-color-gradient)
  );
  border: 5px solid;
  font-size: 33px;
}

div.questionBlock {
  background-image: linear-gradient(
    var(--div-background-color),
    var(--div-background-color-gradient)
  );
  border: 3px solid;
  border-radius: 15px;
  height: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  min-height: 130px;
}

div.questionCard {
  font-size: 30px;
  font-weight: bold;
  height: auto;
  width: 1fr;
}

div.questionJump {
  position: absolute;
}

div.wrong {
  background-color: #ff000059;
  border: 30px solid;
  color: red;
  font-size: 200px;
  font-weight: bold;
  height: 250px;
  width: 250px;
}

div.wrongFlex {
  display: flex;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*Finals*/
div.finalsanswerCardGridElement {
  background-color: black;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  height: 45px;
  padding: 10px;
}

div.finalsanswerCardGrid {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 75px;
  height: 75px;
}

div.finalsAnswerGrid {
  background-color: var(--div-background-color);
  border: 7px solid;
  border-radius: 15px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 150px;
  padding: 15px;
  row-gap: 10px;
}

div.finalsPoints {
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 20px;
}

div.finalsPinnchenGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
}
